{% extends "base.html" %}
{% load static %}
{% load cache_control %}
{% load breadcrumbs %}

{% block page-title %}{% if edit %}Edit{% else %}Create{% endif %} List{% endblock %}

{% block subtitle %}{% if edit %}Edit{% else %}Create{% endif %} List{% endblock %}

{% block breadcrumb-trail %}
    {% breadcrumb '/staff' 'Staff Home' %}
    {% breadcrumb '/staff/list/?view=Program' 'Programs/Subplans/Courses' %}
    {% if edit %}
        {% finalcrumb 'Edit List' %}
    {% else %}
        {% finalcrumb 'Create List' %}
    {% endif %}
{% endblock %}

{% block content %}

    <script src="{% static "js/vendor/vue.js" %}"></script>
    <script src="{% static "js/vendor/vue-multiselect.js" %}"></script>
    <script src="{% static "js/vendor/vue-resource.js" %}"></script>
    <link rel="stylesheet" href="{% static "css/vue-multiselect.css" %}">

    {% if render.msg != None %}
        <p class="msg-success">{{ render.msg }}</p>
    {% endif %}

    {% for error in form.non_field_errors %}
        <p class="msg-error">{{ error }}</p>
    {% endfor %}

    {% if edit %}
        <form method="post">
            {% csrf_token %}
            <input type="hidden" name="id" value="{{ request.GET.id }}">
            <div class="fullwidth auto-overflow">
                <input class="btn-uni-grad btn-small right" type ="submit" formaction="/staff/delete/lists/" value="&times Delete">
            </div>
        </form>
    {% endif %}

    <form class="anuform" id="mainForm" action="" method="post" onsubmit="return false;" autocomplete="off">
        {% csrf_token %}

        <input type="hidden" id="redirect" name="redirect">

        <fieldset>
            <legend>Configure List Details</legend>

            {{ form.management_form }}

            {% for field in form %}
                <p class="form-group">
                    {% if not field.is_hidden %}
                        {{ field.label_tag }}
                    {% endif %}
                    {{ field }}
                </p>

                {# Render field errors separate to no course error #}
                {% for error in field.errors %}
                    {% if not "Courses" in error %}
                        <div class="msg-error inline-error">{{ error }}</div>
                    {% endif %}
                {% endfor %}
            {% endfor %}

            <br>
            {# Insert a list creation widget to populate a background List.Elements hidden field #}
            {% include "widgets/staff/courselistingwidget.html" with app_name="app" %}

            {# Render missing course error under custom element #}
            {% for field in form %}
                {% for error in field.errors %}
                    {% if "Courses" in error %}
                        <div class="msg-error">{{ error }}</div>
                    {% endif %}
                {% endfor %}
            {% endfor %}
        </fieldset>
    </form>

    <p class="text-right">
        <input class="left btn-uni-grad btn-large" type="button" value="New Course"
               onclick="toggleCourseCreationPopup()">
        <input class="btn-uni-grad btn-large" type="button" value="Cancel"
               onclick="{% if edit or 'list' in request.META.HTTP_REFERER %}returnToList('List'){% else %}goBack(){% endif %}">
        {% if edit %}
            <input class="btn-uni-grad btn-large" type="submit" value="Save"
                   onclick="submit_form(this.value, false)">
        {% endif %}
        <input class="btn-uni-grad btn-large" type="submit"
               value="{% if edit %}Save and Exit{% else %}Create{% endif %}"
               onclick="submit_form(this.value, true)">
    </p>

    {% include "widgets/staff/coursecreatepopup.html" %}

    <script>
        function submit_course_form(){
            // Disable check for unsaved changes - we are saving them here!
            contentsSubmission = true;

            document.getElementById('mainForm').submit();
        }

        function submit_form(form_action, redirect) {
            // Disable check for unsaved changes - we are saving them here!
            contentsSubmission = true;

            document.getElementById('mainForm').action.value = form_action;
            document.getElementById('redirect').value = redirect;
            document.getElementById('mainForm').submit();
            return true;
        }
    </script>

    <script src="{% static_no_cache 'js/main.js' %}" type="application/javascript"></script>

{% endblock %}
