{% load static %}

{% verbatim %}
<script type="text/x-template" id="electiveRuleTemplate">
    <fieldset v-if="!redraw">

        <div v-if="subject_areas.length != 0">
            <div class="msg-error" v-if="invalid_units">Unit count must be non-negative!</div>
            <div class="msg-error" v-if="invalid_units_step">Unit count should be divisible by 6!</div>
            <div class="msg-error" v-if="is_blank">All options must be filled in!</div>
            <p>
                Students must complete
                <input style="margin-left: 0;" class="text" v-on:change="update_units" onkeydown="javascript: return checkKeys(event)" type="number" min="0" step="6" max="1000" v-model="details.unit_count" aria-required="true" required>
                units from
                <select v-model="details.year_level" required>
                    <option value="all" selected>All</option>
                    <option v-for="year_level in number_of_year_levels" v-bind:value="year_level*1000">{{ year_level*1000 }}-level</option>
                </select>
                electives in
                <select v-model="details.subject_area" required>
                    <option value="all" selected>Any</option>
                    <option v-for="subject_area in subject_areas" v-bind:value="subject_area">{{ subject_area }}</option>
                </select>
                subject area.
            </p>
        </div>
        <div v-else v-html="info_msg"></div>

    </fieldset>
</script>
{% endverbatim %}

<script type="text/javascript" src="{% static "js/staff/rules/course_elective.js" %}"></script>
