{% load cache_control %}

{% verbatim %}
<script type="text/x-template" id="course-list-template">
    <fieldset v-if="!redraw">

        <p class="form-group">
            <Label style="width: 20.8333%; text-align: right; float: left;">List name:</Label>
            <input class="text tfull" v-model="details.list_description"
                   placeholder="Optional description for CASS Staff Reference, e.g. CASS Majors"
                   style="margin-left: 0;">
        </p>

        <p class="form-group">
            <label style="width: 20.8333%; text-align: right; float: left;">List type:</label>
            <select v-model="details.list_type" v-on:change="updateListTypeLabel()" required>
                <option v-for="(msg, type) in list_types" v-bind:value="type">{{ msg }}</option>
            </select>
        </p>

        <p class="form-group" v-if="details.list_type == 'min_max'">
            <label style="width: 20.8333%; text-align: right; float: left;">Minimum units:</label>
            <input style="margin-left: 0;" class="text" onkeydown="javascript: return checkKeys(event)" type="number"
                   v-on:change="update_units()" v-model="details.min_unit_count" min="0" step="6" max="1000" required>
        </p>
        <p class="form-group" v-if="details.list_type == 'min_max'">
            <label style="width: 20.8333%; text-align: right; float: left;">Maximum units:</label>
            <input style="margin-left: 0;" class="text" onkeydown="javascript: return checkKeys(event)" type="number"
                   v-on:change="update_units()" v-model="details.max_unit_count" min="0" step="6" max="1000" required>
        </p>

        <p class="form-group" v-if="details.list_type !='min_max'">
            <label style="width: 20.8333%; text-align: right; float: left;">Number of units:</label>
            <input style="margin-left: 0;" class="text" onkeydown="javascript: return checkKeys(event)" type="number"
                   v-on:change="update_units()" v-model="details.unit_count" min="0" step="6" max="1000" required>
        </p>

        <br>

        <div class="msg-error" v-if="invalid_units">Unit count must be greater than 0!</div>
        <div class="msg-error" v-if="invalid_units_step">Unit count should be divisible by 6!</div>
        <div class="msg-error" v-if="non_unique_options">Options must be unique!</div>
        <div class="msg-error" v-if="is_blank">All options must be filled in!</div>
        <div class="msg-error" v-if="invalid_min_max_units">Minimum units count can not be greater than maximum units count!</div>

        <p v-if="details.list_type != 'min_max'">
            Students must select {{ list_type_label }} {{ unit_value_label }} units from the following courses:
        </p>
        <p v-if="details.list_type == 'min_max'">
            Students must select a minimum of {{ min_unit_value_label }} units
            and a maximum of {{ max_unit_value_label }} units from the following courses:
        </p>

        <br>

        <multiselect
                :options="courses"
                :value="optionsProxy"
                @input="updateSelected"
                :show-labels="true"
                :multiple="true"
                :searchable="true"
                :close-on-select="false"
                :placeholder="placeholderText"
                :custom-label="customLabel"
                track-by="name"
                :max-height="200"
                :open-direction="'top'"
                :loading="showLoadingSpinner"
                ref="multiselectref"
        >
        </multiselect>

        <div class="msg-warn" v-if="is_list_search">Searching in list mode,
            <a href="javascript:void(0);" @click="toggleListMode()">return to course mode</a></div>

        <ul class="resources-list">
            <template v-for="(resource, index) in sortedSelectedList">
                <li class="resource-item" :data-index="index">
                    <div class="resource-info">
                        <div class="resource-title" :id="index">
                            <span>{{ resource.code }} - {{ resource.name }} </span>
                        </div>
                    </div>
                    <div class="delete-controls" v-on:click.prevent="removeDependency(index)">
                        <i class="fa fa-times fa-fw"></i>
                    </div>
                </li>
            </template>
        </ul>

        <input style="margin-left: 0; float: right;" class="btn-uni-grad btn-large" type="button"
               value="Add Courses from Existing List"
               v-on:click="toggleListMode()">
    </fieldset>
</script>
{% endverbatim %}

<script type="text/javascript" src="{% static_no_cache "js/staff/rules/course_selection.js" %}"></script>
