{% load static %}

{% verbatim %}
<script type="text/x-template" id="eitherOrTemplate">
    <div>
        <div hidden="true">{{ refresh }}</div>
        <div class="msg-warn" v-if="large_unit_count">
            You have created an OR group that contains more than 48 units. Please check <i>Programs and Courses</i> to ensure
            you have correctly implemented the rules, and try to reduce the number of units in each OR block if possible.
        </div>
        <div class="msg-error" v-if="inconsistent_units">
            The number of units in each group is inconsistent. Please ensure that each group has an equivalent number of units.
        </div>
        <br v-if="large_unit_count" />

        <div class="box bdr-solid bdr-uni" v-for="(item, i) in details.either_or" :key="i">
            <fieldset id="orRulesContainer">
                <legend>Group {{ i + 1 }}</legend>

                <div v-for="(item, j) in details.either_or[i]" :key="j" >
                    <rule class="rule-container" v-bind:details="item" v-on:update="update(j, $event)" v-on:remove="remove(j, i)" v-on:duplicate_rule="duplicate_rule(j, i)"></rule>
                    <div v-if="j < details.either_or[i].length - 1 && separator.length > 0">{{ separator }}<br /><br /></div>
                </div>

                <input class="btn-uni-grad btn-large no-left-margin" type="button" v-on:click="show_add_a_rule_modal = true; which_or = i; component_names = component_groups.rules" value="Add New Rule to Group" />
                <input class="btn-uni-grad btn-large no-left-margin" type="button" v-on:click="remove_group(i)" value="Remove This Group" />
                <input class="btn-uni-grad btn-large no-left-margin" type="button" v-on:click="duplicate_group(i)" value="Duplicate This Group" />

            </fieldset>
        </div>

        <input class="btn-uni-grad btn-large no-left-margin" type="button" v-on:click="add_or" value="Add new OR Group" />

        <div class="modal" v-if="show_add_a_rule_modal">
            <div class="modal-background" v-on:click="show_add_a_rule_modal = false"></div>
            <div class="modal-card">
                <div class="card">
                    <header class="box-header">
                        Add a rule...
                    </header>
                    <div class="box-solid box-has-footer">
                        <p>Select a kind of rule to add:</p>
                        <div class="select">
                            <select v-model="add_a_rule_modal_option">
                                <option v-for="(option, index) in component_names" v-bind:value="index">
                                    {{ option }}
                                </option>
                            </select>
                        </div>
                    </div>
                    <footer class="box-solid">
                        <button class="button is-success" v-on:click="add_rule">Add</button>
                        <button class="button" v-on:click="show_add_a_rule_modal = false">Cancel</button>
                    </footer>
                </div>
            </div>
        </div>
    </div>
</script>
{% endverbatim %}

<script type="text/javascript" src="{% static "js/staff/rules/either_or.js" %}"></script>

