@charset "UTF-8";

#body {
    min-height: 600px;
}

.align_right {
    text-align:right;
    width:100%;
    padding:0;
}

.rule_active_visual {
    border-left: 2px solid green;
    margin: 0 0 0 -6px;
    padding: 0 0 0 4px;
}

.btn_label {
    text-align: center;
}

.btn_label h3 {
    padding-top: 12px;
    vertical-align: center;
}

.splash_menu_container {
    display: flex;
    padding-top: 20px;
    justify-content: center;
    align-items: baseline;
    flex-wrap: wrap;
}

.img_btn_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 160px;
    margin: 10px;
}

.comments {
    resize: none;
    height: 5em; /* 1em height = 1 row */
    width: 98.36%; /* textarea need custom width as anu styling width makes it longer */
}

.list-menu {
    height: 50px;
    background-color: white;
    position: sticky;
    top: 0px;
}

.custom_search_bar input[type=text]{
    height: 30px;
    width: 67%;
    padding-left: 5px;
    margin-right: 1%;
    box-sizing: border-box;
    display:inline-block;
    font-size:1.0em;
    border-radius: 5px;
}
.custom_search_bar input[type=submit]{
    height: 30px;
    margin: 0;
    width: 15%;
    min-width: 80px;
    box-sizing: border-box;
    display:inline-block;
    border-radius: 5px;
}
@media only screen and (max-width: 600px) {
    .custom_search_bar {
        text-align: center;
    }

    .custom_search_bar input[type=text] {
        width: 100%;
    }

    .custom_search_bar input[type=submit]{
        width: 49%;
        margin-top: 5px;
    }
}

.custom_search_bar_full_length input[type=text]{
    width: 100%;
}

.large-menu-item {
    width:50%;
}
.small-menu-item {
    width:25%;
}
.delete-color {
    background-color:lightcoral;
    color:#FFF;
}
.delete-color:hover {
    background-color:indianred;
    color:#FFF;
}

/* Adds carets to list sorting options */
table th {}
.sort:after{
  content: ' ';
  border: 4px solid transparent;
  position: relative;
  left: 2px;
}
.sort:not(.desc):not(.asc):hover:after{
  top: 10px;
  border-top-color: silver;
}
.asc:after {
  top: 10px;
  border-top-color: inherit;
}

.desc:after {
  bottom: 10px;
  border-bottom-color: inherit;
}

select.tfull {
    width: 70.25%;
}

select.text{
    border-radius: 3px;
}

/* Fixes an issue with ANU styling where buttons cannot be included in legends */
.anuform fieldset legend input {
    float: none;
    margin-left: 0;
}

/* Fix padding around inline form errors */
.anuform .form-group .msg-error {
    margin-top: 5px;
}

/* Allow for inline errors */
.anuform .inline-error {
    clear: none;

    margin: 4px 25px 4px calc(20.8333% + 20px);
    min-width: 70%;

    box-sizing: border-box;

    padding: 4px 25px 4px 25px;
}
.anuform .no-overflow {
    box-sizing: border-box;
}

/* ANU doesn't provide modal systems */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* Above checkboxes (with a ~5 z-index) */
    z-index: 10;
}

.modal-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}

.modal-body {
    max-height: calc(100vh - 210px);
    overflow-y: auto;
}

.modal-card {
    position: absolute;
    left: 35%;
    width: 30%;
    top: 35%;
}

.wide-modal-card {
    position: absolute;
    left: 10%;
    width: 80%;
    top: 10%;
}

.box-has-footer {
    margin-bottom: 0;
}

.card-header-title {
    display: inline;
}

/* Fix off-center fieldsets */
.anuform fieldset {
    padding-right: 3%;
}

.no-left-margin {
    margin-left: 0 !important;
}

.align-center {
    text-align: center;
}

.homepage-button {
    display: block;
    text-decoration: none;
}

.dropdown-menu {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    right: 0;
    left: auto;
    min-width: 160px;
    border: 1px solid rgba(0,0,0,.15);
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: lightgray;}

.dropdown-menu:hover .dropdown-content {display: block;}

/* Vector replication of separator bar in top navigation area */
.menu-divider {
    margin: 0 32.5px 0 31px;
    width: 1px;
    border-right: 1px solid #7C7C7C;
    height: 51px;
}

/* Icon buttons for homepage */
.icon-btn {
    margin-left: auto;
    margin-right: auto;

    width: 160px;
    height: 160px;

    border-radius: 80px;
    line-height: 160px;
    vertical-align: middle;
    text-align: center;

    font-size: 80px;

    color: #ffffff;
    background: #707070;
}

/* Vertically aligns text to the middle */
.vertical-middle {
    vertical-align: middle;
}

/* Indicates that an element is clickable */
.clickable {
    cursor: pointer;
}

/* Hides the underline for a generic link (e.g. if link is a button */
.hide-link-underline {
    text-decoration: none;
}

.hide-link-underline :hover {
    text-decoration: none;
}

/* Gives a little hover animation to course cards */
.selectable-card :hover {
    background: #E3EEF3 !important;
}

.hover {
    background: lightgreen !important;
}

/* Hides an element */
.hide {
    display: none;
}

/* Pushes content to the right of the parent container */
.float-right {
    float: right;
}

/* Basic CSS columns */
.columns-1-of-3 {
    width: calc(33% - 10px);
    padding: 5px;
}

.columns-2-of-3 {
    width: calc(66% - 10px);
    padding: 5px;
}

.grey-text {
    color: grey;
}

/* Makes the mouse cursor behave correctly with draggable elements */
.draggable {
    touch-action: none;
    user-select: none;
    cursor: move;
}

/* Ensures course drop boxes are of the right size */
.course-drop {
    min-height: 60px;
}

/* Only show delete button if course is configured for a particular box: */
/* For nulled values: */
.course-drop:not([data-course-code]) .course-clear-button {
    display: none;
}
/* For empty/cleared values: */
.course-drop[data-course-code=""] .course-clear-button {
    display: none;
}

/* Defines a full width element */
.full-width {
    width: 80%;
}

/* Simple pagination tabs */
.pagination li {
    display: inline-block;
    width: 30px;
    height: 20px;

    text-align: center;

    margin: 3px;
}

.pagination li:not(.disabled) {
    cursor: pointer;
    border: 1px solid black;
}

.pagination li:not(.disabled).active {
    background: #E3EEF3;
}

.pagination li:not(.disabled):hover {
    background: #E3EEF3;
}

.pagination li.disabled a {
    cursor: default;
    border: none;
}

.pagination li:link {
    text-decoration: none;
}

.pagination a {
    text-decoration: none;
}

/* Keeps e.g. a dialog on the screen always, floating instead when it reaches the end of the viewport */
.stay-on-screen {
    position: sticky;
    top: 10px;
}

/* Automatically handle overflowing text */
.auto-overflow {
    overflow: auto;
}

/* Display a border if the element is the side */
.border-on-md {
    /* Fill the row */
    width: 100%;
}

@media only screen and (min-width:64em) {
    .border-on-md {
        border-left: 1px solid black;
    }
}

/* Hide this element on smaller screens */
.hide-on-small-screen {
    display: none;
}

@media only screen and (min-width:37.5em) {
    .hide-on-small-screen {
        display: block;
    }
}

/* Restricts the height of a particular search result */
/* https://stackoverflow.com/questions/3922739/limit-text-length-to-n-lines-using-css */
.limit-card-size {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    max-height: 3.6em;
    line-height: 1.8em;
}

/* https://medium.com/@hugodesigns/how-to-use-the-most-complete-selecting-solution-for-vue-js-f991b2605364 */
.resources-list {
  margin-top: 0px;
  padding: 0;
  list-style: none;
}

.resources-list li {
  display: flex;
  align-items: center;
  min-height: 30px;
  padding: 10px 40px 10px 0;
  border-bottom: 1px solid rgba(51, 51, 51, 0.1);
  position: relative;
}

.resources-list li:last-child {
  border-bottom: none;
}

.resources-list li .resource-title {
  font-size: 1em;
  color: #333;
}

.resource-info {
    padding-left: 12px;
}

.resources-list li .resource-description,
.resources-list li .resource-url {
  font-size: 0.8em;
  color: #999;
  margin-top: 5px;
}

.resources-list li .resource-url {
  margin-top: 0;
}

.resources-list li .resource-description:empty {
  display: none;
}

.resources-list li .delete-controls {
  position: absolute;
  right: 0;
  width: 40px;
  text-align: center;
  color: #999;
  cursor: pointer;
}

.resources-list li .delete-controls:hover,
.resources-list li .delete-controls:focus {
  color: red;
}

/* Sets an element to be a eighth of the width of the parent, with a minimum applied */
.eighth-width {
    min-width: 100px;
    width: 12.5%;
}

/* Ensure that custom checkboxes ignore ANU styling */
.custom-checkbox {
    margin-left: 0 !important;
}

/* Fix scrollbar with icon checkboxes on Chrome */
.pretty .state label {
    overflow: hidden;
}

/* A centered checkbox */
.pretty.centered {
    display: block;
    margin-right: auto;
    width: calc(1em + 2px);
    margin-left: auto;
}

/* Forces a checkbox to appear larger on the page */
.large-checkbox {
    margin: 5px;
    font-size: 25px;
}
