@charset "UTF-8";

#body {
    min-height: 600px;
}

.btn_label {
    text-align: center;
}

.btn_label h3 {
    padding-top: 12px;
    vertical-align: center;
}

.splash_menu_container {
    display: flex;
    padding-top: 20px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.img_btn_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 12px;
}

.custom_search_bar input[type=text]{
    height: 30px;
    width: 78%;
    padding-left: 5px;
    margin-right: 2%;
    box-sizing: border-box;
    display:inline-block;
    font-size:1.0em;
    border-radius: 5px;
}
.custom_search_bar input[type=submit]{
    height: 30px;
    margin: 0;
    width: 20%;
    min-width: 80px;
    box-sizing: border-box;
    display:inline-block;
    border-radius: 5px;
    float:right;
}

select.tfull {
    width: 70.25%;
}

select.text{
    border-radius: 3px;
}
