{% extends "base.html" %}
{% load breadcrumbs %}

{% block page-title %}Change Password{% endblock %}

{% block subtitle %}CASS Staff Password Change{% endblock %}

{% block breadcrumb-trail %}
    {% finalcrumb 'Change Password' %}
{% endblock %}

{% block content %}
    <form class="anuform" action="" method="post">
        {% csrf_token %}
        <fieldset>
            <legend>Password Details</legend>
            {# Render all form fields, errors, and help text #}
            {% for field in form.visible_fields %}
                {# Render field #}
                <p>{{ field.label_tag }} {{ field }}</p>
                {# Render field errors #}
                {% if field.errors %}<div class="msg-error inline-error">{{ field.errors }}</div>{% endif %}
                {# Render field help text #}
                {% if field.help_text %}<div class="instruction msg-info inline-error">{{ field.help_text }}</div>{% endif %}
            {% endfor %}

        </fieldset>

        <p class="text-right">
            <input class="btn-uni-grad btn-large" type="submit" value="Change Password">
        </p>
    </form>
{% endblock %}
