{% load static %}
{% load cache_control %}

<fieldset id="globalRequirementsContainer">
    <legend class="collapse-off clickable" onclick="collapseContent(this)">Add Global Requirements</legend>

    <br />

    <global_requirement_container v-bind:global_requirements="global_requirements" />
</fieldset>

{% verbatim %}
<script type="text/x-template" id="generalGlobalRequirementTemplate">
    <div>
        <fieldset>
            <div class="msg-error" v-if="invalid_units">Unit count must be greater than 0!</div>
            <div class="msg-error" v-if="invalid_units_step">Unit count should be divisible by 6!</div>
            <div class="msg-error" v-if="units_is_blank">Unit count must be filled in!</div>
            <div class="msg-error" v-if="is_invalid">Subject area cannot be "Any" while no year levels are selected!</div>

            <p>
                Students must complete a
                <select v-model="details.minmax" required>
                    <option value="min">Minimum</option>
                    <option value="max">Maximum</option>
                </select>
                of
                <input style="margin-left: 0;" class="text" onkeydown="javascript: return checkKeys(event)" type="number" v-on:change="check_options" v-model="details.unit_count" min="0" step="6" max="1000" aria-required="true" required>
                units from courses in the subject area
                <select v-model="details.subject_area" v-on:change="check_options" required>
                    <option value="any" selected>Any</option>
                    <option v-for="subject_area in subject_areas" v-bind:value="subject_area">{{ subject_area }}</option>
                </select>
                and in the following year levels:
            </p>

            <br />

            <table class="tbl-row-bdr">
                <thead>
                    <tr>
                        <th>
                            1000-level
                        </th>
                        <th>
                            2000-level
                        </th>
                        <th>
                            3000-level
                        </th>
                        <th>
                            4000-level
                        </th>
                        <th>
                            5000-level
                        </th>
                        <th>
                            6000-level
                        </th>
                        <th>
                            7000-level
                        </th>
                        <th>
                            8000-level
                        </th>
                        <th>
                            9000-level
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <!-- Because of the Vue container, these need custom styling pre-applied. They still
                             otherwise work fine, however. -->
                        <td>
                             <div class="pretty centered p-icon">
                                <input type="checkbox" class="custom-checkbox" v-model="details.courses1000Level" v-on:change="check_options">
                                <div class="state p-primary">
                                  <i class="icon fa fa-check"></i>
                                  <label>&nbsp;</label>
                                </div>
                             </div>
                        </td>
                        <td>
                             <div class="pretty centered p-icon">
                                <input type="checkbox" class="custom-checkbox" v-model="details.courses2000Level" v-on:change="check_options">
                                <div class="state p-primary">
                                  <i class="icon fa fa-check"></i>
                                  <label>&nbsp;</label>
                                </div>
                             </div>
                        </td>
                        <td>
                             <div class="pretty centered p-icon">
                                <input type="checkbox" class="custom-checkbox" v-model="details.courses3000Level" v-on:change="check_options">
                                <div class="state p-primary">
                                  <i class="icon fa fa-check"></i>
                                  <label>&nbsp;</label>
                                </div>
                             </div>
                        </td>
                        <td>
                             <div class="pretty centered p-icon">
                                <input type="checkbox" class="custom-checkbox" v-model="details.courses4000Level" v-on:change="check_options">
                                <div class="state p-primary">
                                  <i class="icon fa fa-check"></i>
                                  <label>&nbsp;</label>
                                </div>
                             </div>
                        </td>
                        <td>
                             <div class="pretty centered p-icon">
                                <input type="checkbox" class="custom-checkbox" v-model="details.courses5000Level" v-on:change="check_options">
                                <div class="state p-primary">
                                  <i class="icon fa fa-check"></i>
                                  <label>&nbsp;</label>
                                </div>
                             </div>
                        </td>
                        <td>
                             <div class="pretty centered p-icon">
                                <input type="checkbox" class="custom-checkbox" v-model="details.courses6000Level" v-on:change="check_options">
                                <div class="state p-primary">
                                  <i class="icon fa fa-check"></i>
                                  <label>&nbsp;</label>
                                </div>
                             </div>
                        </td>
                        <td>
                             <div class="pretty centered p-icon">
                                <input type="checkbox" class="custom-checkbox" v-model="details.courses7000Level" v-on:change="check_options">
                                <div class="state p-primary">
                                  <i class="icon fa fa-check"></i>
                                  <label>&nbsp;</label>
                                </div>
                             </div>
                        </td>
                        <td>
                             <div class="pretty centered p-icon">
                                <input type="checkbox" class="custom-checkbox" v-model="details.courses8000Level" v-on:change="check_options">
                                <div class="state p-primary">
                                  <i class="icon fa fa-check"></i>
                                  <label>&nbsp;</label>
                                </div>
                             </div>
                        </td>
                        <td>
                             <div class="pretty centered p-icon">
                                <input type="checkbox" class="custom-checkbox" v-model="details.courses9000Level" v-on:change="check_options">
                                <div class="state p-primary">
                                  <i class="icon fa fa-check"></i>
                                  <label>&nbsp;</label>
                                </div>
                             </div>
                        </td>
                    </tr>
                </tbody>
            </table>

            <p>
                Additional custom requirements (Optional):
                <textarea v-model="details.customRequirements" v-on:change="check_options" style="width: 100%" placeholder="Example: Courses may also come from any majors listed in the Bachelor of Music." aria-required="true"></textarea>
            </p>
        </fieldset>
    </div>
</script>

<script type="text/x-template" id="globalRequirementTemplate">
    <div class="card">
        <header class="box-header">
            <p class="card-header-title">
                {{ component_names[details.type] }}
            </p>
            <img src="//style.anu.edu.au/_anu/images/icons/web/question.png" class="btn-snall no-left-margin vertical-middle clickable"
                 alt="Help button" v-on:click="show_help = true" />
            <input type="button" v-on:click="$emit('remove')" class="btn-uni-grad btn-snall no-left-margin" value="Remove" />
        </header>
        <div class="box-solid">
            <div class="card-content" v-bind:is="'global_requirement_' + details.type" v-bind:details="details"></div>
        </div>

        <div class="modal" v-if="show_help">
            <div class="modal-background" v-on:click="show_help = false"></div>
            <div class="modal-card">
                <div class="card">
                    <header class="box-header">
                        Help for {{ component_names[details.type] }}
                    </header>
                    <div class="box-solid box-has-footer">
                        <p>{{ component_help[details.type] }}</p>
                    </div>
                    <footer class="box-solid">
                        <button class="button" v-on:click="show_help = false">OK</button>
                    </footer>
                </div>
            </div>
        </div>
    </div>
</script>

<script type="text/x-template" id="globalRequirementContainerTemplate">
    <div v-if="!redraw">
        <div v-for="(item, index) in global_requirements" :key="index" >
            <global_requirement class="rule-container" v-bind:details="item" v-on:update="update(index, $event)" v-on:remove="remove(index)"></global_requirement>
            <div v-if="index < global_requirements.length - 1 && separator.length > 0">{{ separator }}<br /><br /></div>
        </div>

        <input class="btn-uni-grad btn-large no-left-margin" type="button" v-on:click="add_global_requirement" value="Add New Global Requirement" />

    </div>
</script>
{% endverbatim %}

<script src="{% static 'js/vendor/vue.js' %}" type="application/javascript"></script>
<script src="{% static_no_cache 'js/staff/globalrequirements.js' %}" type="application/javascript"></script>
