{% load static %}

<fieldset id="rulesContainer">
    <legend>Add Rules</legend>

    <br />

    <rule_container v-bind:rules="rules" />
</fieldset>

{% include "widgets/rules/course_selection.html" %}
{% include "widgets/rules/subplan.html" %}
{% include "widgets/rules/either_or.html" %}
{% include "widgets/rules/course_elective.html" %}
{% include "widgets/rules/custom_text.html" %}

{% include "widgets/rules/rule.html" %}
{% include "widgets/rules/rule_container.html" with component_names="component_groups.rules" kind="Rule" %}

<script src="{% static 'js/staff/rules.js' %}" type="application/javascript"></script>

{% if rules != None %}
    <script>
        app.rules = {{ rules|safe }};
    </script>
{% endif %}
