{% extends "base.html" %}
{% load static %}
{% load cache_control %}
{% load breadcrumbs %}

{% block page-title %}Student Portal{% endblock %}

{% block subtitle %}Welcome to the CASS Student Portal{% endblock %}

{% block breadcrumb-trail %}
    {% finalcrumb 'Student Portal' %}
{% endblock %}

{% block content %}
    {% if render.msg != None %}
        <p class="msg-success">{{ render.msg }}</p>
    {% endif %}
    {# linebreaksbr adds a <br> whenever there is a \n in a string #}
    {% if render.error != None %}
        <p class="msg-error">{{ render.error|linebreaksbr }}</p>
    {% endif %}

    <p>
        This page provides a searchable list of program templates in PDF form.<br>
        Search by the program name to find the plan you're looking for and click on the program to view the template.
    </p>

    <form class="box bdr-solid bdr-uni bg-uni50 anuform custom_search_bar" action="?action=Search" method="get">
        <input class="text" name="q" size="24" maxlength="75" type="text" id="search_bar"
               placeholder="Search for a Program... (Search by either name, code or year)"
               value="{{ autofill }}"
        >
        <span class="btn-group">
            <input class="btn-uni-grad btn-medium" type="submit" value="Search">
            <input class="btn-uni-grad btn-medium" type="submit" value="Clear"
                   onclick="document.getElementById('search_bar').value=''">
        </span>
    </form>

    <div class="list">
        {% for degree in programs %}
            <a href="../staff/pdf/program?id={{ degree.id }}" target="_blank" class="hide-link-underline">
                <div class="card selectable-card">
                    <div class="box-solid">
                        <div class="card-content">
                            <b class="course-title">
                                Name: {{ degree.name }}
                            </b>
                            -
                            <b class="course-year">
                                ({{ degree.year }}) - Program Code: {{ degree.code }}
                            </b>
                            <br />
                            <span class="course-type">
                                {% if degree.programType == 'ugrad-sing' %}
                                    Undergraduate Single Pass Degree
                                {% elif degree.programType == 'ugrad-doub' %}
                                    Undergraduate Flexible Double Degree
                                {% elif degree.programType == 'hon' %}
                                        Honours Degree
                                {% elif degree.programType == 'mast-sing' %}
                                    Masters Single Degree
                                {% elif degree.programType == 'mast-adv' %}
                                    Masters (Advanced) Degree
                                {% elif degree.programType == 'mast-doub' %}
                                    Masters Flexible Double Degree
                                {% elif degree.programType == 'vert-doub' %}
                                    Vertical Flexible Double Degree
                                {% elif degree.programType == 'other' %}
                                    Other Degree
                                {% endif %}
                            </span>
                            /
                            <span class="course-units">
                                {{ degree.units }} units
                            </span>

                        </div>
                    </div>
                </div>
            </a>
        {% endfor %}
        <div class="box-solid text-center">
            <div class="card-content">
                {% if programs.has_previous %}
                    <a href="?page=1" class="hide-link-underline">&laquo; first</a>
                    <a href="?page={{ programs.previous_page_number }}" class="hide-link-underline">previous</a>
                {% endif %}

                Page {{ programs.number }} of {{ programs.paginator.num_pages }}

                {% if programs.has_next %}
                    <a href="?page={{ programs.next_page_number }}" class="hide-link-underline">next</a>
                    <a href="?page={{ programs.paginator.num_pages }}" class="hide-link-underline">last &raquo;</a>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
