{% extends "base.html" %}
{% load breadcrumbs %}

{% block page-title %}Home{% endblock %}

{% block subtitle %}Welcome to the CASS Student Planner!{% endblock %}

{% block breadcrumb-trail %}
    {% finalcrumb 'Prototype' %}
{% endblock %}

{% block content %}
    {% if render.msg != None %}
        <p class="msg-success">{{ render.msg }}</p>
    {% endif %}
    {# linebreaksbr adds a <br> whenever there is a \n in a string #}
    {% if render.error != None %}
        <p class="msg-error">{{ render.error|linebreaksbr }}</p>
    {% endif %}

    <p>
        The CASS student planner tool is designed to help you plan out your degree, either
        at the beginning or throughout. This tool will check for common issues that you may
        encounter in planning out your degree, helping you to graduate on time.
    </p>

    <a href="../create/" class="hide-link-underline">
        <input class="btn-uni-grad btn-large" type="button" value="Create New Degree Plan" />
    </a>
    <a href="/" class="hide-link-underline">
        <input class="btn-uni-grad btn-large" type="button" value="Go to Student Portal" />
    </a>

    <hr />

    <div>
    {% for plan in plans %}
        {% if plan.name %}{% with i=forloop.counter0 %}
        <div class="list w-full block-center">
            {# Render the plan loading button #}
            <div class="large-menu-item">
                <a href="/edit/?plan={{ plan.name }}" class="hide-link-underline">
                    <div class="card selectable-card">
                        <div class="box-solid card-content">
                            <b>{{ plan.name }} </b><text class="right">{{ plan.date }}</text>
                            <br />
                            {{ plan.program }}
                        </div>
                    </div>
                </a>
            </div>
            {# Render the plan duplicate button #}
            <div id="{{ i }}Duplicate" class="small-menu-item">
                <a href="/create/?plan={{ plan.name }}" class="hide-link-underline">
                    <div class="card selectable-card">
                        <div class="box-solid card-content center noborder-left">
                            <p>Duplicate</p>
                        </div>
                    </div>
                </a>
            </div>
            {# Render the plan delete button #}
            <div id="{{ i }}Remove" class="small-menu-item">
                <a href="javascript:void(0);" class="hide-link-underline">
                    <div class="card selectable-card">
                        <div class="box-solid card-content center noborder-left">
                            <p>Remove</p>
                        </div>
                    </div>
                </a>
            </div>
            {# Render the plan deletion confirmation button #}
            <div hidden id="{{ i }}Confirm" class="small-menu-item">
                <a href="/delete/?plan={{ plan.name }}" class="hide-link-underline">
                    <div class="card">
                        <div class="box-solid card-content center delete-color noborder-left">
                            <p >Confirm</p>
                        </div>
                    </div>
                </a>
            </div>
            {# Render the plan delete cancel button #}
            <div hidden id="{{ i }}Cancel" class="small-menu-item">
                <a href="javascript:void(0);" class="hide-link-underline">
                    <div class="card selectable-card">
                        <div class="box-solid card-content center noborder-left">
                            <p id="{{ plan.name }}Test2">Cancel</p>
                        </div>
                    </div>
                </a>
            </div>
            {# Script to make the buttons switch when certain buttons are clicked #}
            <script type="text/javascript">
                // Get the relevant elements
                var dup{{ i }} = document.getElementById("{{ i }}Duplicate");
                var rem{{ i }} = document.getElementById("{{ i }}Remove");
                var can{{ i }} = document.getElementById("{{ i }}Cancel");
                var con{{ i }} = document.getElementById("{{ i }}Confirm");

                // Create a function to switch the confirm, delete, duplicate, and cancel buttons
                fn{{ i }} = function() {
                    rem{{ i }}.hidden = !rem{{ i }}.hidden;
                    dup{{ i }}.hidden = !dup{{ i }}.hidden;
                    can{{ i }}.hidden = !can{{ i }}.hidden;
                    con{{ i }}.hidden = !con{{ i }}.hidden;
                }
                rem{{ i }}.onclick = fn{{ i }};
                can{{ i }}.onclick = fn{{ i }};
            </script>
        </div>
        {% endwith %}{% endif %}
    {% endfor %}
    </div>

{% endblock %}
