{% extends "base.html" %}

{% block page-title %}Create Subplan{% endblock %}

{% block subtitle %}Create Subplan{% endblock %}

{% block content %}

    {% if submitted %}
        <p class="msg-success">Program successfully added!</p>
    {% endif %}

    {% for error in form.non_field_errors %}
         <p class="msg-error">{{ error }}</p>
    {% endfor %}

    <form class="anuform" action="" method="post">
        {% csrf_token %}

        <fieldset>
            <legend>Subplan details</legend>

            {{ form.management_form }}

            {% for field in form %}
                <p class="form-group">
                    {% if not field.is_hidden %}
                        {{ field.label_tag }}
                    {% endif %}
                    {{ field }}
                </p>
                {% for error in field.errors %}
                     <div class="msg-error inline-error">{{ error }}</div>
                {% endfor %}
            {% endfor %}
        </fieldset>

        <p class="text-right">
            <input class="btn-uni-grad btn-large" type ="submit" value="Create">
        </p>
    </form>

{% endblock %}
