{% extends "base.html" %}
{% load static %}
{% load breadcrumbs %}

{% block page-title %}{% if edit %}Edit{% else %}Create{% endif %} Course{% endblock %}

{% block subtitle %}{% if edit %}Edit{% else %}Create{% endif %} Course{% endblock %}

{% block breadcrumb-trail %}
    {% breadcrumb  '/list/?view=Course' 'Programs/Subplans/Courses' %}
    {% if edit %}
        {% finalcrumb 'Edit Course' %}
    {% else %}
        {% finalcrumb 'Create Course' %}
    {% endif %}

{% endblock %}

{% block content %}

    {% for error in form.non_field_errors %}
         <p class="msg-error">{{ error }}</p>
    {% endfor %}

    <form class="anuform" id="mainForm" action="" method="post" onsubmit="return false;">
        {% csrf_token %}

        <fieldset>
            <legend>Course details</legend>

            {{ form.management_form }}

            {% for field in form %}
                <p class="form-group">
                    {% if not field.is_hidden %}
                        {{ field.label_tag }}
                    {% endif %}
                    {{ field }}
                </p>
                {% for error in field.errors %}
                     <div class="msg-error inline-error">{{ error }}</div>
                {% endfor %}
            {% endfor %}

            <!-- TODO: Unhandled so far -->
            <p>
                <label for="text">Requisite Course(s)</label>
                <select class="text tfull" name="requisites[]" size="5" multiple>
                    {% for course in courses %}
                        <option value="{{ course.code }}">{{ course.code }}</option>
                    {% endfor %}
                </select>
            </p>

            <p>
                <label for="text">Incompatible Course(s)</label>
                <select class="text tfull" name="incompatibles[]" size="5" multiple>
                    {% for course in courses %}
                        <option value="{{ course.code }}">{{ course.code }}</option>
                    {% endfor %}
                </select>
            </p>
        </fieldset>

        <p class="text-right">
            <input class="btn-uni-grad btn-large" type="submit" value="{% if edit %}Save{% else %}Create{% endif %}"
                onclick="document.getElementById('mainForm').submit()">
        </p>
    </form>

    <script src="{% static 'js/main.js' %}" type="application/javascript"></script>
{% endblock %}
