{% extends "base.html" %}
{% load static %}

{% block page-title %}Create Program Template{% endblock %}

{% block subtitle %}Create Program Template{% endblock %}

{% block content %}
    {% if submitted %}
        <p class="msg-success">Program successfully added!</p>
    {% endif %}

    {% for error in form.non_field_errors %}
         <p class="msg-error">{{ error }}</p>
    {% endfor %}

    <form class="anuform" id="mainForm" action="" method="post" onsubmit="return handleProgram()">
        {% csrf_token %}

        <fieldset>
            <legend>Configure Program Details</legend>

            {{ form.management_form }}

            {% for field in form %}
                <p class="form-group">
                    {% if not field.is_hidden %}
                        {{ field.label_tag }}
                    {% endif %}
                    {{ field }}
                </p>
                {% for error in field.errors %}
                     <div class="msg-error inline-error">{{ error }}</div>
                {% endfor %}
            {% endfor %}
        </fieldset>
    </form>

    <!-- We still need a form for regular styling, though these will be serialized manually because of their list-like
         structure -->
    <form class="anuform" id="manualSerializedForm">
        {% include "widgets/globalrequirements.html" %}
    </form>

    <p class="text-right">
        <input class="btn-uni-grad btn-large" type="submit" value="Create" onclick="if (handleProgram()) document.getElementById('mainForm').submit()">
    </p>
{% endblock %}
