{% extends "base.html" %}
{% load static %}
{% load breadcrumbs %}

{% block page-title %}Delete Courses{% endblock %}

{% block breadcrumb-trail %}
    {% breadcrumb  '/list/?view=Course' 'Programs/Subplans/Courses' %}
    {% finalcrumb 'Delete Course' %}
{% endblock %}

{% block subtitle %}Are You Sure?{% endblock %}

{% block content %}
    <form % class="anuform" action="" method="post">
        {% csrf_token %}

        <fieldset>
            <p>Are you sure you want to delete:</p>

            {% for instance in instances %}
                <p class="marginleft">
                    {{ instance.name }} ({{ instance.code }}) in {{ instance.year }}
                </p>
                <input type="number" hidden value="{{ instance.id }}" name="id" />
            {% endfor %}
        </fieldset>

        <input type="hidden" value="confirm" name="confirm" />

        <p class="text-right">
            <input class="btn-uni-grad btn-large" type="button" value="Cancel" onclick="returnToList('Course')">
            <input class="btn-uni-grad btn-large" type="submit" value="Delete">
        </p>
    </form>

    <script src="{% static 'js/main.js' %}" type="application/javascript"></script>
{% endblock %}
