{% extends "base.html" %}
{% load breadcrumbs %}

{% block page-title %}Home{% endblock %}

{% block subtitle %}Welcome{% endblock %}

{% block breadcrumb-trail %}
    {% finalcrumb 'Homepage' %}
{% endblock %}

{% block content %}

<div class = "splash_menu_container">

    {# generate splash menu based on buttons defined in ui/views.py   #}
    {% for button in buttons %}
        <div class = "img_btn_container" style="width: {{ element_width }}">
            <div>
                <a href={{ button.url }}>
                    <img src={{ button.img }} alt={{ button.label }}>
                </a>
            </div>

            <div class="btn_label"><h3>{{ button.label }}</h3></div>
        </div>
    {%  endfor %}

</div>

{% endblock %}
