{% extends "base.html" %}

{% block page-title %}Template/Subplan/Course List{% endblock %}

{% block subtitle %}Template, Subplan, and Course List{% endblock %}

{% block content %}
    {# Generates the tabs based on the keys to 'data' #}
    <div class="pagetabs-nav">
        <ul>
            {% for title in data %}
                <li><a onClick='setActive("{{ title }}")' id="{{ title }}Link">{{ title }}s</a></li>
            {% endfor %}
        </ul>
    </div>

    {# Generates table instances for each table in 'data', as well as the appropriate settings to keep it hidden #}
    {% for title, content in data.items %}
        <div id="{{ title }}Table" hidden>
            <table class="fullwidth tbl-cell-bdr">
                {# Add title row based on what was in the dictionary #}
                <tr>
                    {% for key in content.0 %}
                        {% if key != "id" %}
                            <th>{{ key }}</th>
                        {% else %}
                            <th>{{ title }}</th>
                        {% endif %}
                    {% endfor %}
                </tr>
                {# Add rows containing the contents of each json data instance #}
                {% for row in content %}
                    <tr>
                        {% for key, item in row.items %}
                            <td>
                                {# If the item is in the ID column, generate a link to it instead #}
                                {% if key != "id" %}
                                    {{ item }}
                                {% else %}
                                    (<a href="/api/model/{{ title.lower }}/{{ item }}/">View</a>)
                                {% endif %}
                            </td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </table>
            {# If there is no data available, notify the user #}
            {% if not content %}<p>No {{ title }}s to display</p>{% endif %}
        </div>
    {% endfor %}

    {# Function to hide the previous tab while opening a new one #}
    <script>
        var oldLabel = "Degree";

        function setActive(label){
            if(document.getElementById(label+"Link") == null)
                label = oldLabel;

            document.getElementById(oldLabel+"Link").setAttribute("class", "");
            document.getElementById(oldLabel+"Table").style.display = "none";

            document.getElementById(label+"Link").setAttribute("class", "pagetabs-select");
            document.getElementById(label+"Table").style.display = "block";

            oldLabel = label;
        }

        var openElement = (new URLSearchParams(window.location.search)).get("view");
        setActive(openElement)
    </script>
{% endblock %}
