{% extends "base.html" %}

{% block page-title %}Template/Subplan/Course List{% endblock %}

{% block subtitle %}Template, Subplan, and Course List{% endblock %}

{% block content %}
    <form class="box bdr-solid bdr-uni bg-uni50 anuform custom_search_bar" action="/list?action=Search" method="get">
        <input class="text" name="q" size="24" maxlength="75" type="text"
               placeholder="Search Degrees, Subplans, or Courses..."
               value="{{ autofill }}"
        >
        <input class="btn-uni-grad btn-medium" type="submit" value="Search">
    </form>

    <div class="divline-solid-uni"></div><br />

    {# If no data was sent, assume the user searched and got no results #}
    {% if not data %}
        No search results found
    {% endif %}

    {# Generates the tabs based on the keys to 'data' #}
    <div class="pagetabs-nav">
        <ul>
            {% for title in data %}
                <li><a onClick='setActive("{{ title }}")' id="{{ title }}Link">{{ title }}s</a></li>
            {% endfor %}
        </ul>
    </div>

    {# Generates table instances for each table in 'data', as well as the appropriate settings to keep it hidden #}
    {% for title, content in data.items %}
        <div id="{{ title }}Table" hidden>
            <form method="post">
                {% csrf_token %}
                {# Allow manage_courses() function to behave appropriately based on origin of request. The post request can either come from list.html or managecourses.html #}
                <input type="hidden" id="perform_function" name="perform_function" value="retrieve view from selected">

                <table class="fullwidth tbl-cell-bdr">
                    {# Add title row based on what was in the dictionary #}
                    <tr>
                        {% for key in content.0 %}
                            {% if key != "id" %}
                                <th>{{ key }}</th>
                            {% else %}
                                <th>Select</th>
                                <th>{{ title }}</th>
                            {% endif %}
                        {% endfor %}
                    </tr>
                    {# Add rows containing the contents of each json data instance #}
                    {% for row in content %}
                        <tr>
                            {% for key, item in row.items %}

                                    {# If the item is in the ID column, generate a link to it instead #}
                                    {% if key != "id" %}
                                        <td>{{ item }}</td>
                                    {% else %}
                                        <td><input title="Select" type="checkbox" name="id" value="{{ item }}"  /></td>
                                        <td>(<a href="/api/model/{{ title.lower }}/{{ item }}/">View</a>)</td>
                                    {% endif %}

                            {% endfor %}
                        </tr>
                    {% endfor %}
                </table>
                {# If there is no data available, notify the user #}
                {% if not content %}
                    <p>No {{ title }}s to display</p>
                    <div class="right">
                        <p class="left marginright">
                           <input class="btn-uni-grad btn-large" type ="submit" formaction="/{% if title == 'Degree' %}manage_programs{% elif title == 'Subplan' %}manage_subplans{% elif title == 'Course' %}manage_courses{% endif %}/?action=Add" value="Add a {{ title }}">
                        </p>
                    </div>
                {% else %}
                    <div class="right">
                        <p class="left marginright">
                           <input class="btn-uni-grad btn-large" type ="submit" formaction="/{% if title == 'Degree' %}manage_programs{% elif title == 'Subplan' %}manage_subplans{% elif title == 'Course' %}manage_courses{% endif %}/?action=Add" value="Add a {{ title }}">
                        </p>
                        <p class="left marginright">
                           <input class="btn-uni-grad btn-large" type ="submit" formaction="/{% if title == 'Degree' %}manage_programs{% elif title == 'Subplan' %}manage_subplans{% elif title == 'Course' %}manage_courses{% endif %}/?action=Edit" value="Edit Selected">
                        </p>
                        <p class="right">
                           <input class="btn-uni-grad btn-large" type ="submit" formaction="/{% if title == 'Degree' %}manage_programs{% elif title == 'Subplan' %}manage_subplans{% elif title == 'Course' %}manage_courses{% endif %}/?action=Delete" value="Delete Selected">
                        </p>
                   </div>
                {% endif %}
            </form>
        </div>
    {% endfor %}

    {# Function to hide the previous tab while opening a new one #}
    <script>
        {# Gets the first key in the data array (Can't find a better way of doing this) #}
        {% for title in data %}
            {% if forloop.first %}
                var oldLabel = "{{ title }}";
            {% endif %}
        {% endfor %}

        function setActive(label){
            if(document.getElementById(label+"Link") == null)
                label = oldLabel;

            document.getElementById(oldLabel+"Link").setAttribute("class", "");
            document.getElementById(oldLabel+"Table").style.display = "none";

            document.getElementById(label+"Link").setAttribute("class", "pagetabs-select");
            document.getElementById(label+"Table").style.display = "block";

            oldLabel = label;
        }

        var openElement = (new URLSearchParams(window.location.search)).get("view");
        setActive(openElement)
    </script>
{% endblock %}
