{% extends "base.html" %}

{% block page-title %}{{ action }} Course{% endblock %}

{% block subtitle %}{{ action }} Course{% endblock %}

{% block content %}
    {% if render.msg != None and render.msg_type != None %}
        <p class={{ render.msg_type }}>{{ render.msg }}</p>
    {% endif %}

    <div id="{{ action }}Page" {% if action == 'Delete' or render.hide_form %}hidden{% endif %}>
        <form class="anuform" action="/manage/courses/?action={{ action }}" method="post">
            {% csrf_token %}
            {# Allow manage_courses() function to behave appropriately based on origin of request. The post request can either come from list.html or managecourses.html #}
            <input type="hidden" id="perform_function" name="perform_function" value="Add/Edit data to db">
            <input type="hidden" id="id" name="id" value="{{ render.edit_course_info.id }}">
            {% with required='<img src="//style.anu.edu.au/_anu/4/images/styles/asterisk.png" alt=" required">' %}
                <fieldset>
                    <legend>{{ action }} Course</legend>

                    <p>
                        <label for="id">Course Name {{ required }}</label>
                        <input class="text tfull" id="text" type="text" name="name" placeholder="e.g. Culture and Human Diversity: Introducing Anthropology" aria-required="true" required {% if action == 'Edit' %}value="{{ render.edit_course_info.name }}"{% endif %}>
                    </p>

                    <p>
                        <label for="id">Course Code {{ required }}</label>
                        <input class="text tfull" id="text" type="text" name="code" minlength="8" maxlength="8" size="8" placeholder="e.g. ANTH1002" aria-required="true" required {% if action == 'Edit' %}value="{{ render.edit_course_info.code }}"{% endif %}>
                    </p>

                    <p>
                        <label for="text">Year {{ required }}</label>
                        <input class="text tfull" id="number" type="number" name="year" min="1990"  aria-required="true" required value={% if action == 'Edit' %}"{{ render.edit_course_info.year }}"{% else %}{{ year|default:"2019" }}{% endif %}>
                    </p>

                    <p>
                        <label for="text">Semester(s)</label>
                        <select class="text tfull" name="semesters[]" size="2" multiple>
                            <option value="semester1" {% if action == 'Edit' %}{% if render.edit_course_info.offeredSem1 %}selected{% endif %}{% endif %}>Semester 1</option>
                            <option value="semester2" {% if action == 'Edit' %}{% if render.edit_course_info.offeredSem2 %}selected{% endif %}{% endif %}>Semester 2</option>
                        </select>
                    </p>

                     <p>
                        <label for="text">Units {{ required }}</label>
                        <input class="text tfull" id="number" type="number" name="units" min="0" step="6" aria-required="true" required value={% if action == 'Edit' %}"{{ render.edit_course_info.units }}"{% else %}{{ units|default:"6" }}{% endif %}>
                    </p>

                    <p>
                        <label for="text">Requisite Course(s)</label>
                        <select class="text tfull" name="requisites[]" size="5" multiple>
                            {% for course in courses %}
                                <option value="{{ course.code }}">{{ course.code }}</option>
                            {% endfor %}
                        </select>
                    </p>

                    <p>
                        <label for="text">Incompatible Course(s)</label>
                        <select class="text tfull" name="incompatibles[]" size="5" multiple>
                            {% for course in courses %}
                                <option value="{{ course.code }}">{{ course.code }}</option>
                            {% endfor %}
                        </select>
                    </p>
                </fieldset>
            {% endwith %}

            <p class="text-right">
                <input class="btn-uni-grad btn-large" type ="submit" value="{{ action }}">
            </p>
        </form>
    </div>
    {# code onwards is to confirm the user that the course is in one or more subplans #}
    {% if render.is_confirm %}
        <p class="right padtop">
            <input class="btn-uni-grad btn-medium" onclick="history.back()" type="submit" value="No">
        </p>
        <form class="anuform right" action="/manage/courses/?action=Delete" method="post">
            {% csrf_token %}
            <input id="selected" title="Select" name="id" hidden/>
            <p class="marginright">
                <input class="btn-uni-grad btn-medium" name="confirm_delete" type="submit" value="Yes">
            </p>
            <input type="hidden" id="perform_function" name="perform_function" value="confirm deletion">
        </form>
    {% endif %}
    {# grabs form data from list.html - reference: https://stackoverflow.com/questions/14845710/javascript-variable-access-in-html #}
    <script>
        let data = sessionStorage.getItem('selected');

        window.onload = function() {
            document.getElementById("selected").value = data;
        }
    </script>
{% endblock %}
