{% extends "pdf_base.html" %}
{% load course_boxes %}

{% block page-title %}{{ program.name }} ({{ program.year }}){% endblock %}

{% block content %}
    <div class="box" style="float: right">
        Student name & ID number: <br />
        <br />
    </div>

    {% if plan != None %}
        <h1 class="no-bottom-margin">{{ plan.name }} ({{ program.name }}, {{ program.year }}, {{ program.units }} units)</h1>
    {% else %}
        <h1 class="no-bottom-margin">{{ program.name }} ({{ program.year }}, {{ program.units }} units)</h1>
    {% endif %}

    <br />

    <div class="columns-3 columns-no-gap">

        {% for rule in program.rules %}
            {% include "widgets/pdf_rules.html" %}
        {% endfor %}

        <div class="break-column"></div>

        <div class="box small-text">
            <p>
                Instructions for filling in:
            </p>

            {{ program.studentNotes | linebreaks }}
        </div>

        {% for rule in program.globalRequirements %}
            <div class="box {% if forloop.last %} break-column{% endif %}">
                {% if rule.type == "general" %}
                    <p>
                        {{rule.prettyList}}
                        {% if rule.subject_area != "any" %}
                            {{ rule.subject_area }}
                        {% endif %}
                        courses: <br/>
                        <u>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</u> units ({{ rule.unit_count }}
                        {% if rule.minmax == "min" %}
                            <b>minimum</b>)
                        {% elif rule.minmax == "max" %}
                            <b>maximum</b>)
                        {% endif %}
                        {% if rule.customRequirements != "" %}
                            <br>
                            {{ rule.customRequirements }}
                        {% endif %}
                    </p>
                {% else %}
                    ERROR: Unknown global requirement type "{{ rule.type }}"!
                {% endif %}
            </div>
        {% endfor %}
    </div>
{% endblock %}
