{% extends "base.html" %}

{% block page-title %}Edit Sample Records{% endblock %}

{% block subtitle %}Add, edit or delete sample records{% endblock %}

{% block content %}
    <form class="anuform" action="/sampleform/" method="post">
        {% csrf_token %}
        <fieldset>
            <legend>Add Record</legend>

            <!-- As HTML forms only support get or post methods,
            add this hidden input for consistency with the rest of the forms -->
            <input type="hidden" name="_method" value="post">

            <p>
                <label for="id">ID:</label>
                <input class="text" id="id" type="text" name="id" aria-required="true" required>
            </p>

            <p>
                <label for="text">Text:</label>
                <input class="text" id="text" type="text" name="text" aria-required="true" required>
            </p>
        </fieldset>
        <p class="text-right">
            <input class="btn-uni-grad btn-large" type ="submit" value="Create">
        </p>
    </form>
    <br />
    <form class="anuform" action="/sampleform/" method="post">
        {% csrf_token %}
        <fieldset>
            <legend>Modify Record</legend>

            <!-- As HTML forms only support get or post methods,
            add this hidden input to hint that it is actually a put request. -->
            <input type="hidden" name="_method" value="patch">

            <p>
                <label for="id">ID:</label>
                <input class="text" id="id" type="text" name="id" aria-required="true" required>
            </p>

            <p>
                <label for="text">Text:</label>
                <input class="text" id="text" type="text" name="text" aria-required="true" required>
            </p>
        </fieldset>
        <p class="text-right">
            <input class="btn-uni-grad btn-large" type ="submit" value="Update">
        </p>

    </form>
    <br />
    <form class="anuform" action="/sampleform/" method="post">
        {% csrf_token %}
        <fieldset>
            <legend>Delete Record</legend>

            <!-- As HTML forms only support get or post methods,
            add this hidden input to hint that it is actually a delete request. -->
            <input type="hidden" name="_method" value="delete">

            <p>
                <label for="id">ID:</label>
                <input class="text" id="id" type="text" name="id" aria-required="true" required>
            </p>
        </fieldset>
        <p class="text-right">
            <input class="btn-uni-grad btn-large" type ="submit" value="Delete">
        </p>
    </form>
{% endblock %}
