{% extends "base.html" %}
{% load static %}
{% load breadcrumbs %}

{% block page-title %}Edit Plan ({{ program.name }} - {{ program.year }}){% endblock %}

{% block subtitle %}Edit plan ({{ program.name }} - {{ program.year }}){% endblock %}

{% block breadcrumb-trail %}
    {% breadcrumb  '/create/' 'Create new student plan' %}
    {% finalcrumb 'Edit plan' %}
{% endblock %}

{% block content %}
    {% if render.msg != None %}
        <p class="msg-success">{{ render.msg }}</p>
    {% endif %}
    {# linebreaksbr adds a <br> whenever there is a \n in a string #}
    {% if render.error != None %}
        <p class="msg-error">{{ render.error|linebreaksbr }}</p>
    {% endif %}

    {# program is the full program object as selected by the user, superuser is if an authenticated #}
    {# user is logged in #}
    <form action="" method="post" class="box bdr-solid bdr-uni">
        {% csrf_token %}
        <input type="hidden" name="program_id" value="{{ plan.program_id }}" />

        <label for="plan-name">Name:</label>
        <input id="plan-name" name="plan_name" type="text" placeholder="e.g. {{ program.name }}" value="{{ plan.name }}"/>
        &nbsp;|&nbsp;
        <span>Last Edited: {{ plan.date }}</span>

        <div class="float-right">
            <input type="submit" class="btn-uni-grad btn-small" value="Save...">
            {% if superuser %}
                <input type="button" class="btn-uni-grad btn-small" value="Save & Approve...">
            {% endif %}
        </div>
    </form>

    {% for rule in program.rules %}
        {{ rule.type }}
    {% endfor %}

{% endblock %}
