{% verbatim %}
<script type="text/x-template" id="incompatibilityRuleTemplate">
     <fieldset v-if="!redraw">
        <p class="form-group">
            <label>
                Students must not have completed/be currently enrolled in the following courses:
            </label>
        </p>

        <div class="msg-error" v-if="non_unique_options">Options must be unique!</div>

        <div v-for="(code, index) in details.incompatible_courses">
            <select v-model="details.incompatible_courses[index]" v-on:change="check_options" required>
                <option v-for="course in courses" v-bind:value="course.code">{{ course.code }} {{ course.name }}</option>
            </select>
            <input v-if="index != 0" type="button" v-on:click="remove_course(index)" class="btn-uni-grad btn-snall no-left-margin" value="Remove" />
        </div>

        <input type="button" v-on:click="add_course()" class="btn-uni-grad btn-snall no-left-margin" value="Add new option" />
    </fieldset>
</script>


<script type="text/x-template" id="programRuleTemplate">
    <fieldset v-if="!redraw">
        <p class="form-group">
            <label>
                Students must be studying the following program:
            </label>
        </p>

         <div>
            <select v-model="details.program" required>
                <option v-for="program in programs" v-bind:value="program">{{ program.code }} {{ program.name }}</option>
            </select>
        </div>

    </fieldset>
</script>


<script type="text/x-template" id="subplanRuleTemplate">
    <fieldset v-if="!redraw">
        <div class="msg-error" v-if="non_unique_options">Options must be unique!</div>
        <div class="msg-error" v-if="inconsistent_units">Options have different unit values!</div>

        <p>
            Students must pick
            <input class="text" v-model="details.kind" aria-required="true" placeholder="e.g. Arts Major - brief description for students here"
                   style="margin-left: 0; width: 400px" required>
            from the following:
        </p>

        <p>
        </p>

        <div v-for="(id, index) in details.ids">
            <select v-model="details.ids[index]" v-on:change="check_options" required>
                <option v-for="subplan in subplans" v-bind:value="subplan.id">{{ subplan.name }} {{ subplan.year }} ({{ subplan.units }} units)</option>
            </select>
            <input v-if="index != 0" type="button" v-on:click="remove_subplan(index)" class="btn-uni-grad btn-snall no-left-margin" value="Remove" />
        </div>

        <input type="button" v-on:click="add_subplan()" class="btn-uni-grad btn-snall no-left-margin" value="Add new option" />
    </fieldset>
</script>

<script type="text/x-template" id="courseRequirementTemplate">
    <fieldset v-if="!redraw">
        <p class="form-group">
            <label>
                Students must select...
            </label>
            <input class="text" onkeydown="javascript: return checkKeys(event)" type="number" v-on:change="check_options" v-model="details.unit_count" min="0" step="6" max="1000" aria-required="true" required>
            units
        </p>

        <div class="msg-error" v-if="invalid_units">Unit count must be > 0!</div>
        <div class="msg-error" v-if="invalid_units_step">Unit count should be divisible by 6!</div>
        <div class="msg-error" v-if="non_unique_options">Options must be unique!</div>

        <p>
            from the following courses:
        </p>

        <div v-for="(code, index) in details.codes">
            <select v-model="details.codes[index]" v-on:change="check_options" required>
                <option v-for="course in courses" v-bind:value="course.code">{{ course.code }} {{ course.name }}</option>
            </select>
            <input v-if="index != 0" type="button" v-on:click="remove_course(index)" class="btn-uni-grad btn-snall no-left-margin" value="Remove" />
        </div>

        <input type="button" v-on:click="add_course()" class="btn-uni-grad btn-snall no-left-margin" value="Add new option" />
    </fieldset>
</script>

<script type="text/x-template" id="courseRequisiteTemplate">
    <fieldset v-if="!redraw">
        <div class="msg-error" v-if="non_unique_options">Options must be unique!</div>

        <p>
            Students must have completed the following courses:
        </p>

        <div v-for="(code, index) in details.codes">
            <select v-model="details.codes[index]" v-on:change="check_options" required>
                <option v-for="course in courses" v-bind:value="course.code">{{ course.code }} {{ course.name }}</option>
            </select>
            <input v-if="index != 0" type="button" v-on:click="remove_course(index)" class="btn-uni-grad btn-snall no-left-margin" value="Remove" />
        </div>

        <input type="button" v-on:click="add_course()" class="btn-uni-grad btn-snall no-left-margin" value="Add new option" />
    </fieldset>
</script>

<script type="text/x-template" id="subjectAreaRuleTemplate">
    <fieldset v-if="!redraw">
        <p class="form-group">
            <label>
                Students must complete...
            </label>
            <input class="text" onkeydown="javascript: return checkKeys(event)" type="number" v-on:change="check_options" v-model="details.unit_count" min="0" step="6" max="1000" aria-required="true" required>
            units
        </p>

        <div class="msg-error" v-if="invalid_units">Unit count must be > 0!</div>
        <div class="msg-error" v-if="invalid_units_step">Unit count should be divisible by 6!</div>

        <p>
            from the following subject area:
        </p>

        <div>
            <select v-model="details.subject" required>
                <option v-for="subject_area in subject_areas" v-bind:value="subject_area">{{ subject_area }}</option>
            </select>
        </div>

        <p>
            within the following year-level:
        </p>

        <div>
            <select v-model="details.year_level" v-on:change="check_options" required>
                <option>Any year-level</option>
                <option v-for="year_level in number_of_year_levels" v-bind:value="year_level*1000">{{ year_level*1000 }}-level</option>
            </select>
        </div>
    </fieldset>
</script>

<script type="text/x-template" id="yearSpecificRuleTemplate">
    <fieldset v-if="!redraw">
        <p class="form-group">
            <label>
                Students must complete...
            </label>
            <input class="text" onkeydown="javascript: return checkKeys(event)" type="number" v-on:change="check_options" v-model="details.unit_count" min="0" step="6" max="1000" aria-required="true" required>
            units
        </p>

        <div class="msg-error" v-if="invalid_units">Unit count must be > 0!</div>
        <div class="msg-error" v-if="invalid_units_step">Unit count should be divisible by 6!</div>

        <p>
            from the following course year-level:
        </p>

        <div class="msg-error" v-if="invalid_course_year_level">Course Year-Level should be divisible by 1000!</div>

        <div>
            <select v-model="details.year_level" v-on:change="check_options" required>
                <option v-for="year_level in number_of_year_levels" v-bind:value="year_level*1000">{{ year_level*1000 }}-level</option>
            </select>
        </div>
    </fieldset>
</script>

<script type="text/x-template" id="customTextRuleTemplate">
    <fieldset>
        <p>
            Students must complete the following:
        </p>

        <p>
            <textarea v-model="details.text" style="width: 100%" placeholder="Enter some custom rules here..." aria-required="true" required></textarea>
        </p>

        <p class="form-group">
            <label>Unit value for this item:</label>
            <input class="text" onkeydown="javascript: return checkKeys(event)" type="number" min="0" max="1000" v-model="details.units" aria-required="true" required>
        </p>

        <div class="msg-error" v-if="not_divisible">Units must be divisible by 6!</div>

        <p class="form-group">
            <label>Show 6-unit course boxes in plans (e.g. PDF):</label>
            <input class="text" type="checkbox" v-model="details.show_course_boxes">
        </p>
    </fieldset>
</script>

<script type="text/x-template" id="customTextReqRuleTemplate">
    <fieldset>
        <p>
            Students must meet the following requirements:
        </p>

        <p>
            <textarea v-model="details.text" style="width: 100%" placeholder="Enter some custom rules here..." aria-required="true" required></textarea>
        </p>

    </fieldset>
</script>

<script type="text/x-template" id="ruleTemplate">
    <div class="card">
        <header class="box-header">
            <p class="card-header-title">
                {{ component_names[details.type] }}
            </p>
            <input type="button" v-on:click="$emit('remove')" class="btn-uni-grad btn-snall no-left-margin" value="Remove" />
        </header>
        <div class="box-solid">
            <div class="card-content" v-bind:is="'rule_' + details.type" v-bind:details="details"></div>
        </div>
    </div>
</script>
{% endverbatim %}
