{% extends "base.html" %}
{% load static %}

{% load breadcrumbs %}

{% block page-title %}Program/Subplan/Course List{% endblock %}

{% block subtitle %}Program, Subplan, and Course List{% endblock %}

{% block breadcrumb-trail %}
    {% breadcrumb '/staff/' 'Staff Home'%}
    {% finalcrumb 'Programs/Subplans/Courses' %}
{% endblock %}

{% block content %}
    {% if render.msg != None %}
        <p class="msg-success">{{ render.msg }}</p>
    {% endif %}
    {# linebreaksbr adds a <br> whenever there is a \n in a string #}
    {% if render.error != None %}
        <p class="msg-error">{{ render.error|linebreaksbr }}</p>
    {% endif %}

    <form class="box bdr-solid bdr-uni bg-uni50 anuform custom_search_bar" action="?action=Search" method="get">
        <input class="text" name="q" size="24" maxlength="75" type="text" id="search_bar"
               placeholder="Search Programs, Subplans, or Courses..."
               value="{{ autofill }}"
        >
        <span class="btn-group">
            <input class="btn-uni-grad btn-medium" type="submit" value="Search">
            <input class="btn-uni-grad btn-medium" type="submit" value="Clear"
                   onclick="document.getElementById('search_bar').value=''">
        </span>
    </form>

    <div class="divline-solid-uni"></div><br />

    {# If no data was sent, assume the user searched and got no results #}
    {% if not data %}
        No search results found
    {% endif %}

    {# Generates the tabs based on the keys to 'data' #}
    <div class="pagetabs-nav">
        <ul>
            {% for title in data %}
                <li><a onClick='setActive("{{ title }}")' id="{{ title }}Link">{{ title }}s</a></li>
            {% endfor %}
        </ul>
    </div>



    <script src="{% static 'js/vendor/list.js' %}" type="application/javascript"></script>

    {# Generates table instances for each table in 'data', as well as the appropriate settings to keep it hidden #}
    {% for title, content in data.items %}
        <div id="{{ title }}Table" hidden>
            <form method="post">
                {% csrf_token %}
                {# Allow manage_courses() function to behave appropriately based on origin of request. The post request can either come from list.html or managecourses.html #}
                <input type="hidden" id="perform_function" name="perform_function" value="retrieve view from selected">
                <div class="list-menu">
                    <p class="left">
                        <input class="btn-uni-grad btn-medium" type ="submit" formmethod="get" formaction="{{ render.staff_url_prefix }}create/{% if title == 'Program' %}program{% elif title == 'Subplan' %}subplan{% elif title == 'Course' %}course{% elif title == 'List' %}list{% endif %}/" value="+ New {{ title }}">
                        {% if title == "Course" %}
                            <input class="btn-uni-grad btn-medium" type ="submit" formmethod="get" formaction="{{ render.staff_url_prefix }}report/course/" value="View Courses Report">
                        {% endif %}
                    </p>
                    <p class="right">
                        <input class="btn-uni-grad btn-medium" type ="submit" formaction="{{ render.staff_url_prefix }}delete/{% if title == 'Program' %}programs{% elif title == 'Subplan' %}subplans{% elif title == 'Course' %}courses{% elif title == 'List' %}lists{% endif %}/" value="&times Delete Selected">
                    </p>
                </div>

                <div id="select_all_div_{{ title }}" class="left fullwidth" hidden>
                    <p id="select_all_msg_{{ title }}" class="msg-info"></p>
                </div>

                {# If there is no data available, notify the user #}
                {% if not content %}
                    <p class="left fullwidth">No {{ title }}s to display</p>
                {# otherwise if theres content then have the table show #}
                {% else %}
                <table id="{{ title }}Sorter" class="fullwidth tbl-cell-bdr">
                    {# Add title row based on what was in the dictionary #}
                    <thead>
                        <tr>
                        {% for key in content.0 %}
                            {% if key != "Publish" %}
                                {% if key != "Id" %}
                                    <th class="sort" data-sort="{{ title }}{{ key }}">{{ key }}</th>
                                {% else %}
                                    <th class="text-center">
                                        Select All</br>
                                        <input id="select_all" title="Select All" type="checkbox" name="select_all" onchange="selectAll(this, '{{ title }}')">
                                    </th>
                                    <th>{{ title }}</th>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                        </tr>
                    </thead>
                    {# Add rows containing the contents of each json data instance #}
                    <tbody class="list">
                    {% for row in content %}
                        <tr>
                            {% for key, item in row.items %}
                                {% if key != "Publish" %}
                                    {# If the item is in the ID column, generate a link to it instead #}
                                    {% if key != "Id" %}
                                        <td class="{{ title }}{{ key }}{% if row.Publish is False %} unpublished-color{% endif %}">{{ item }}</td>
                                    {% else %}
                                        <td><p class="text-center"><input title="Select" type="checkbox" class="select_{{ title }}" name="id" value="{{ item }}"  onchange="sessionStorage.setItem('selected', {{ item }})"/></p></td>
                                        <td>
                                            <a class="btn-uni-grad" href="{{ render.staff_url_prefix }}create/{% if title == 'Program' %}program{% elif title == 'Subplan' %}subplan{% elif title == 'Course' %}course{% elif title == 'List' %}list{% endif %}/?id={{ item }}&duplicate=true">Duplicate</a>
                                            <a class="btn-uni-grad" href="{{ render.staff_url_prefix }}edit/{% if title == 'Program' %}program{% elif title == 'Subplan' %}subplan{% elif title == 'Course' %}course{% elif title == 'List' %}list{% endif %}/?id={{ item }}">Edit</a>
                                            <a class="btn-uni-grad" href="{{ render.staff_url_prefix }}view/{% if title == 'Program' %}program{% elif title == 'Subplan' %}subplan{% elif title == 'Course' %}course{% elif title == 'List' %}list{% endif %}/?id={{ item }}">View</a>
                                            {% if title == 'Program' %}<a class="btn-uni-grad" href="{{ render.staff_url_prefix }}pdf/program?id={{ item }}">PDF</a>{% endif %}
                                        </td>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        </tr>
                    {% endfor %}

                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="{{ content.0.items|length|add:1 }}">
                                <div class="pagination align-center"></div>
                            </td>
                        </tr>
                    </tfoot>
                </table>
                {% endif %}
            </form>
        </div>

        <script>
            // Pagination for list.js
            var {{ title }}Options = {
                valueNames: [{% for k,v in content.0.items %}'{{ title }}{{ k }}',{% endfor %}],
                page: 20,
                pagination: {
                    innerWindow: 2,
                    left: 1,
                    right: 1,
                    paginationClass: "pagination",
                }
            };

            var {{ title }}List = new List("{{ title }}Sorter", {{ title }}Options);
            var {{ title }}MsgHidden = true;

            var PAGE_MAX = {{ title }}Options.page;

            // Code for Select All (in current page/all entries)
            function selectAll(source, currTitle) {
                var checkboxes = document.getElementsByClassName('select_' + currTitle);
                {# toggles all current rows displayed #}
                for (var i=0, n=checkboxes.length; i<n; i++) {
                    if (source.checked) {
                        checkboxes[i].checked = source.checked;
                    } else {
                        checkboxes[i].checked = true;
                    }
                }
                {# if popup msg for current tab is still hidden #}
                if (window[currTitle + "MsgHidden"]) {
                    document.getElementById("select_all_div_" + currTitle).style.display = "block";
                    window[currTitle + "MsgHidden"] = false;
                    document.getElementById("select_all_msg_" + currTitle).innerHTML = "All " + checkboxes.length
                        + " " + currTitle + "s in this page are selected. <a href='#' class='show_all'>Select all " + currTitle + "s </a>" ;
                }

                var showAll = document.querySelector('.show_all');
                {# checks for when the main select all checkbox is toggled #}
                if (showAll) {
                    showAll.addEventListener('click', selectAllHandler, false);
                }
                function selectAllHandler() {
                    let list = window[currTitle + "List"];
                    updatePagination(list, list.size());
                    selectAll(source, currTitle);
                    document.getElementById("select_all_msg_" + currTitle).innerHTML = "All " + currTitle + "s " +
                        "are selected. <a href='#' class='reset_pagination'>Clear All Selection</a>";

                    {# clears all checkboxes #}
                    var resetPagination = document.querySelector('.reset_pagination');
                    if (resetPagination) {
                        resetPagination.addEventListener('click', resetHandler, false);
                    }
                    function resetHandler() {
                        unselectAll(checkboxes);
                        source.checked = false;
                        document.getElementById("select_all_div_" + currTitle).style.display = "none";
                        window[currTitle + "MsgHidden"] = true;
                    }
                }
            }

            function unselectAll(checkboxes) {
                for (var i=0, n=checkboxes.length; i<n; i++) {
                    checkboxes[i].checked = false;
                }
            }

            function updatePagination(list, number) {
                list.page = number;
                list.update();
            }
        </script>
    {% endfor %}

    {# Function to hide the previous tab while opening a new one #}
    <script>
        {# Gets the first key in the data array (Can't find a better way of doing this) #}
        {% for title in data %}
            {% if forloop.first %}
                var oldLabel = "{{ title }}";
            {% endif %}
        {% endfor %}

        function setActive(label){
            if(document.getElementById(label+"Link") == null)
                label = oldLabel;

            document.getElementById(oldLabel+"Link").setAttribute("class", "");
            document.getElementById(oldLabel+"Table").style.display = "none";

            document.getElementById(label+"Link").setAttribute("class", "pagetabs-select");
            document.getElementById(label+"Table").style.display = "block";

            oldLabel = label;
        }

        var openElement = (new URLSearchParams(window.location.search)).get("view");
        setActive(openElement)
    </script>
{% endblock %}
