{% extends "base.html" %}
{% load static %}
{% load cache_control %}
{% load breadcrumbs %}

{% block page-title %}Delete Courses{% endblock %}

{% block breadcrumb-trail %}
    {% breadcrumb '/staff/' 'Staff Home'%}
    {% breadcrumb '/staff/list/?view=Course' 'Programs/Subplans/Courses' %}
    {% finalcrumb 'Delete Course' %}
{% endblock %}

{% block subtitle %}Are You Sure?{% endblock %}

{% block content %}
    {% if render.error != None %}
        <p class="msg-error">{{ render.error|linebreaksbr }}</p>
    {% endif %}

    <form % class="anuform" action="" method="post">
        {% csrf_token %}

        <fieldset>
            {% if instances|length == 1 %}
                <p>Are you sure you want to delete the following course:</p>
            {% else %}
                <p>Are you sure you want to delete the following courses:</p>
            {% endif %}
            {% for instance in instances %}
                <p>
                    {{ instance.name }} ({{ instance.code }})
                </p>
                <input type="number" hidden value="{{ instance.id }}" name="id" />
            {% endfor %}
        </fieldset>

        <input type="hidden" value="confirm" name="confirm" />

        <p class="text-right">
            <input class="btn-uni-grad btn-large" type="button" value="Cancel" onclick="returnToList('Course')">
            <input class="btn-uni-grad btn-large" type="submit" value="Delete">
        </p>
    </form>

    <script src="{% static_no_cache 'js/main.js' %}" type="application/javascript"></script>
{% endblock %}
