{% extends "base.html" %}
{% load static %}
{% load breadcrumbs %}

{% block page-title %}{{ data.name }} - {{ data.code }} ({{ data.year }}){% endblock %}

{% block subtitle %}{{ data.name }}{% endblock %}

{% block breadcrumb-trail %}
    {% breadcrumb '/staff/' 'Staff Home'%}
    {% breadcrumb '/staff/list/?view=Program' 'Programs/Subplans/Courses' %}
    {% finalcrumb 'View Program' %}
{% endblock %}

{% block content %}
    <div class="right box-header" style="padding-left: 10px; padding-right: 10px; padding-top: 10px; padding-bottom: 10px; min-width: 250px">
        <div>
            <h4>Program Type</h4>
            <li>
                {% if data.programType == 'ugrad-sing' %}
                    Undergraduate Single Pass Degree
                {% elif data.programType == 'ugrad-doub' %}
                    Undergraduate Flexible Double Degree
                {% elif data.programType == 'hon' %}
                    Honours Degree
                {% elif data.programType == 'mast-sing' %}
                    Masters Single Degree
                {% elif data.programType == 'mast-adv' %}
                    Masters (Advanced) Degree
                {% elif data.programType == 'mast-doub' %}
                    Masters Flexible Double Degree
                {% elif data.programType == 'vert-doub' %}
                    Vertical Flexible Double Degree
                {% elif data.programType == 'other' %}
                    Other Degree
                {% endif %}
            </li>
        </br>
            <div class="left">
                <h4>Academic Plan</h4>
                <li>{{ data.code }}</li>
            </div>
            <div class="right">
                <h4>Year</h4>
                <li>{{ data.year }}</li>
            </div>

        </div>
    </div>

    </br>

    <div>
        <h3>Program Requirements</h3>
        <p>The {{ data.name }} requires completion of {{ data.units }} units, of which:</p>

        {% for rule in data.globalRequirements %}
            {% if rule.type == "general" %}
                <p style="margin-left: 40px">
                    A
                    {% if rule.minmax == "min" %}
                        minimum of {{ rule.unit_count }} units must
                    {% elif rule.minmax == "max" %}
                        maximum of {{ rule.unit_count }} units may
                    {% endif %}
                    come from completion of
                    {% if rule.subject_area == "" or rule.subject_area|lower == "any" %}
                        any {{ rule.prettyList }}
                    {% else %}
                        {{ rule.prettyList }} {{ rule.subject_area }}
                    {% endif %}
                    Courses.
                    {% if rule.customRequirements != "" %}
                        {{ rule.customRequirements }}
                    {% endif %}
                </p>
            {% endif %}
        {% endfor %}

        <p>The {{ data.units }} units must include:</p>
        <div style="margin-left: 40px">
            {% for rule in data.rules %}
                {# Subplan Rules #}
                {% if rule.type == 'subplan' %}
                    <p>
                        Completion of one
                        {% if rule.subplan_type == 'MIN' %}
                            Minor
                        {% elif rule.subplan_type == 'MAJ' %}
                            Major
                        {% else %}
                            Specialisation
                        {% endif %}
                        from the following list:
                        <ul>
                            {% for id, value in rule.contents.items %}
                                <li><a class="btn-uni-grad" href="/staff/view/subplan/?id={{ id }}" >{{ value.name }}</a></li>
                            {% endfor %}
                        </ul>
                    </p>
                {# Course Rules #}
                {% elif rule.type == 'course_list' %}
                    <p>
                        {% if rule.list_type != "min_max" %}
                            {% if rule.list_type == "min" %}
                                A minimum of
                            {% elif rule.list_type == "exact" %}
                                Exactly
                            {% elif rule.list_type == "max" %}
                                A maximum of
                            {% endif %}
                            {{ rule.unit_count }} units
                        {% else %}
                            A minimum of {{ rule.min_unit_count }} units
                            and a maximum of {{ rule.max_unit_count }} units
                        {% endif %}
                        from the completion of the following courses:
                        <ul>
                            {% for course in rule.courses %}
                                <li>{{ course.code }} - {{ course.name }} ({{ course.units }} units)</li>
                            {% endfor %}
                        </ul>
                    </p>
                {# Elective Rules #}
                {% elif rule.type == 'elective' %}
                    <p>
                        {{ rule.unit_count }} units from completion of
                        {% if rule.year_level|lower != 'all' %}
                            {{ rule.year_level }}-level
                        {% endif %}

                        {% if rule.subject_area == '' %}
                            Elective Courses offered by ANU.
                        {% else %}
                            {{ rule.subject_area }} Courses.
                        {% endif %}
                    </p>
                {# Custom-text Rules #}
                {% elif rule.type == "custom_text" %}
                    <p>{{ rule.unit_count }} units from {{ rule.text }}</p>
                {# Elective Rules #}
                {% elif rule.type == "elective" %}
                    <p>{{ rule.units }} units from the completion of elective courses offered by the ANU</p>
                {# Either-or Rules #}
                {% elif rule.type == 'either_or' %}
                    Either:
                    {% for or_rule in rule.either_or %}
                        <div style="margin-left: 40px">
                            {% for sub_rule in or_rule %}
                                {# Subplan Or Rule #}
                                {% if sub_rule.type == 'subplan' %}
                                    <p>
                                         Completion of one
                                        {% if sub_rule.subplan_type == 'MIN' %}
                                            Minor
                                        {% elif sub_rule.subplan_type == 'MAJ' %}
                                            Major
                                        {% else %}
                                            Specialisation
                                        {% endif %}
                                        from the following list:
                                        <ul>
                                            {% for id, value in sub_rule.contents.items %}
                                                <li>
                                                    <a class="btn-uni-grad" href="/staff/view/subplan/?id={{ id }}" >
                                                        {{ value.name }}
                                                    </a>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    </p>
                                {# Course Or Rule #}
                                {% elif sub_rule.type == 'course_list' %}
                                    <p>
                                        {% if sub_rule.list_type != "min_max" %}
                                            {% if sub_rule.list_type == "min" %}
                                                A minimum of
                                            {% elif sub_rule.list_type == "exact" %}
                                                Exactly
                                            {% elif sub_rule.list_type == "max" %}
                                                A maximum of
                                            {% endif %}
                                            {{ sub_rule.unit_count }} units
                                        {% else %}
                                            A minimum of {{ sub_rule.min_unit_count }} units
                                            and a maximum of {{ sub_rule.max_unit_count }} units
                                        {% endif %}
                                        from the completion of the following courses:
                                        <ul>
                                            {% for course in sub_rule.courses %}
                                                <li>{{ course.code }} - {{ course.name }} ({{ course.units }} units)</li>
                                            {% endfor %}
                                        </ul>
                                    </p>
                                {# Elective Or Rule #}
                                {% elif sub_rule.type == 'elective' %}
                                    <p>
                                        {{ sub_rule.unit_count }} units from completion of
                                        {% if sub_rule.year_level|lower != 'all' %}
                                            {{ sub_rule.year_level }}-level
                                        {% endif %}

                                        {% if sub_rule.subject_area == '' %}
                                            Elective Courses offered by ANU.
                                        {% else %}
                                            {{ sub_rule.subject_area }} Courses.
                                        {% endif %}
                                    </p>
                                {# Custom-text Or Rule #}
                                {% elif sub_rule.type == "custom_text" %}
                                    <p>{{ sub_rule.units }} units from {{ sub_rule.text }}</p>
                                {% else %}
                                    Invalid Rule: {{ rule.type }}
                                {% endif %}
                            {% endfor %}
                        </div>
                        {% if not forloop.last %}OR{% endif %}
                    {% endfor %}
                {% endif %}
                <br />
            {% endfor %}
        </p>

        {% if data.studentNotes != "" %}
            <p></p>
            <h3>Notes for students</h3>
            <p>
                {# use linebreaks to render <br> from \n #}
                {{ data.studentNotes|linebreaks }}
            </p>
        {% endif %}
    </div>
{% endblock %}
